@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light-blue: 49 195 189;
    --light-blue-hover: 101 233 228;
    --light-yellow: 242 177 55;
    --yellow-border: 204 139 19;
    --blue-border: 17 140 135;
    --light-yellow-hover: 255 200 96;
    --navy: 16 33 42;
    --navy-hover: 33 49 58;
    --dark-navy: 26 42 51;
    --semi-dark-navy: 31 54 65;
    --silver: 168 191 201;
    --siver-hover: 219 232 237;
    --Overlay: 0 0 0;
    --silver-border-color: 151 151 151;
  }

  body {
    @apply bg-main overflow-hidden;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
